.list {
  display: contents;
  justify-content: center;
  width: 600px;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}

.btn {
  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: indigo;
  color: white;
  font-weight: 500;
}
